{% extends 'base.html' %}
{% load static %}
{% block page_content %}
    <title>Crafted & Connected</title>
    <div class="user-profile">
        <div><h1 style="font-family:  'Roboto Slab', serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;">Профил</h1></div>
        <div>
            <img src="{{ request.user.profile_picture.url }}" alt="Profile Picture"
                 style="height: 150px; width: 150px; border-radius: 100px;">
        </div>
        <div class="user-details">
            <p style="height: 20px;"><strong>Име:</strong> {{ user.first_name }}</p>
            <p><strong>Фамилия:</strong> {{ user.last_name }}</p>
            <p><strong>Последователи:</strong> {{ followers_count }}</p>
            <p><strong>Последвани: </strong>{{ following_count }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
        </div>

        <div class="user-details" style="margin: 20px; text-wrap: normal;"><p>Описание: {{ user.description }}</p></div>
        {% if request.user == user %}

            <div style="height: 40px; margin-bottom: 12px;">
                <a class="profile-buttons" href="{% url 'update_profile_picture' %}">Редактиране</a>
            </div>
            <div style="height: 40px;">
                <a href="{% url 'order_history' %}" class="profile-buttons"
                   style="width: 200px; font-size: 16px; margin: 40px 0;">История на поръчките</a>
            </div>
            <div>
                <form style="height: 40px; margin-bottom: 20px;" action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button style="margin-bottom: 30px; margin-top: 0;" class="profile-buttons" type="submit">Изход
                    </button>
                </form>
            </div>
        {% else %}
            {% if user != request.user %}
                <div class="buttons" style="margin-bottom: 20px;">
                    <a class="after-login-buttons"
                       href="{% url 'chat_room' user_id=user.id %}?first_name={{ user.first_name }}&last_name={{ user.last_name }}">Съобщение</a>
                </div>
            {% endif %}
            {% if not is_following %}
                <form method="post" action="{% url 'follow_user' user.id %}">
                    {% csrf_token %}
                    <button class="profile-buttons" type="submit" style="margin-bottom: 20px;">Последвай</button>
                </form>
            {% else %}
                <form method="post" action="{% url 'unfollow_user' user.id %}">
                    {% csrf_token %}
                    <button class="profile-buttons" type="submit" style="margin-bottom: 20px;">Отпоследвай</button>
                </form>
            {% endif %}
        {% endif %}
        <h2> {{ post_count }} Публикации</h2>
        <div class="post-grid">
            {% for post in posts %}
                <div class="post-item">

                    <a href="{% url 'post_detail' post.id %}">
                        <img style="width: 200px; height: 200px;" src="{{ post.photos.url }}" alt="post photos"
                             class="img-fluid">
                    </a>
                </div>

            {% endfor %}
        </div>
        {% if not posts %}
            <p style="font-size: 24px; padding-bottom: 20px;">Няма публикации</p>
        {% endif %}

    </div>
    <script>
        document.getElementById('message-button').addEventListener('click', function () {
            // Extract room name or ID from the URL or data attribute
            var roomName = "{{ user.room_name }}"; // Adjust this to match your context

            // Redirect the user to the chat room URL with the room name as a parameter
            window.location.href = "/chat/" + roomName + "/";
        });
    </script>
{% endblock %}
