{% extends 'base.html' %}
{% load static %}
{% block page_content %}
    <title>Crafted & Connected</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quando&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    <div class="user-profile" >
        <div><h1>Добавяне на нова публикация</h1></div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Add Post</button>
        </form>
    </div>


    <script>
        $(document).ready(function () {
            $('#id_category').change(function () {
                var category = $(this).val();
                var subcategorySelect = $('#id_subcategory');
                subcategorySelect.empty();

                if (category) {
                    $.ajax({
                        url: '{% url "load_subcategories" %}',
                        data: {
                            'category': category
                        },
                        success: function (data) {
                            subcategorySelect.append('<option value="">Select a subcategory</option>');
                            for (var i = 0; i < data.length; i++) {
                                subcategorySelect.append('<option value="' + data[i].value + '">' + data[i].display + '</option>');
                            }
                        }
                    });
                } else {
                    subcategorySelect.append('<option value="">Select a subcategory</option>');
                }
            });
        });
    </script>
{% endblock %}
