{% extends 'base.html' %}
{% load custom_filter %}
{% load static %}
{% load category_filter %}


{% block title %}
    Posts for {{ category|get_category_display }} - Crafted & Connected
{% endblock %}

{% block page_content %}
    <h2 class="category-title">Категория: {{ category|get_category_display }}</h2>
            {% if subcategory %}
                <h3 class="category-title" style="margin-top: 0; margin-bottom: 20px;">
                    Подкатегория: {{ subcategory|get_subcategory_display:category }}</h3>
            {% endif %}
    <div style="display: flex; width: 80%; margin: auto;">
    
        <aside class="sidebar">
            <div class="categories-options">
                <ul class="categories-list">
                    {% for cat, cat_display in categories %}
                        <li {% if category == cat %}class="active"{% endif %}>
                            <a style="font-family: 'Roboto Slab', serif;
                            font-optical-sizing: auto;
                            font-weight: 700;
                            font-style: normal;
                            text-align: center;
                            font-size: 24px;
                            color: white;" href="{% url 'category_view' cat %}">{{ cat_display }}</a>
                            <ul>
                                {% for subcat_key, subcat_display in subcategories_dict|get_item:cat %}

                                    <li {% if subcategory == subcat_key %}class="active"{% endif %}
                                        style="padding-left: 15px; ">
                                        <a style="color: white; font-family: 'Roboto Slab', serif;
                            font-optical-sizing: auto;
                            font-weight: 400;
                            font-size: 20px;"
                                           href="{% url 'subcategory_view' cat subcat_key %}">{{ subcat_display }}</a>
                                    </li>

                                {% endfor %}
                            </ul>
                        </li>

                    {% endfor %}
                </ul>
            </div>
        </aside>

        <div>
            
            <div class="posts-display" style="display: flex; justify-content: space-between; gap: 15px; margin-top: 30px;margin-left: 20px;">
                {% for post in posts %}
                    <div class="post">
                        <a style="height: 200px;" href="{% url 'post_detail' post.id %}">
                            <img src="{{ post.photos.url }}" alt="" style="width: 200px; height: 200px;">
                        </a>

                    </div>
                {% endfor %}
                {% if not posts %}
                    <p>Няма налични публикации </p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
