{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crafted & Connected</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quando&display=swap" rel="stylesheet">


</head>
<body>
<nav>
    <div class="logo">
        <a href="{% url 'index' %}"><img src="{% static "images/Crafted and connected.png" %}" alt="Logo"></a>
    </div>
    <div class="buttons">
        <a href="register.html">За нас</a>
        <a href="{% url 'profile' %}"> profile</a>
    </div>

    <div class="search">
        <input type="text" placeholder="Търси...">
        <button type="submit"><i class="fas fa-search"></i></button>
    </div>
    <div class="buttons">
        <a href="#" class="shopping-cart"><i class="fas fa-shopping-cart"></i></a>
        <a href="{% url 'register' %}">Регистрация</a>
    </div>
</nav>
<section>
    <header class="top-header">
        <h1>
            Crafted & Connected
        </h1>
        <h2>
            Социална платформа за купуване и продаване на ръчно изработени изделия
        </h2>
    </header>
    <div class="categories">
        <button class="category-btn">
            <div class="category-background" style="background-image: url('static/images/paper.jpg');"></div>
            <span><a href="paper-search.html" style="color: white;">Изделия от хартия</a></span>
        </button>
        <button class="category-btn">
            <div class="category-background" style="background-image: url('static/images/vosuk1.jpg');"></div>
            <span>Изделия от восък</span>
        </button>
        <button class="category-btn">
            <div class="category-background" style="background-image: url('static/images/durvo.jpg');"></div>
            <span>Изделия от дърво</span>
        </button>
        <button class="category-btn">
            <div class="category-background" style="background-image: url('static/images/keramia3.jpg');"></div>
            <span>Керамични изделия</span>
        </button>
        <button class="category-btn">
            <div class="category-background" style="background-image: url('static/images/goblen.jpg');"></div>
            <span>Гоблени</span>
        </button>
    </div>
    <div class="categories">
        <button class="category-btn">
            <div class="category-background" style="background-image: url('static/images/kartina.jpg');"></div>
            <span>Картини</span>
        </button>
        <button class="category-btn">
            <div class="category-background" style="background-image: url('static/images/biju.jpg');"></div>
            <span>Бижута</span>
        </button>
        <button class="category-btn">
            <div class="category-background" style="background-image: url('static/images/pletiva.jpg');"></div>
            <span>Плетива</span>
        </button>
        <button class="category-btn">
            <div class="category-background" style="background-image: url('static/images/kamuni.jpg');"></div>
            <span>Други</span>
        </button>
    </div>
    </div>
</section>
<section>
    <header class="top-header">
        <h2>Най-нови предложения</h2>
    </header>
</section>
<div class="pin_container">
    <div class="card card_small">
        <a href="#"><img src="{% static "images/paper.jpg" %}" alt=""></a>
    </div>
    <div class="card card_medium"><img src="{% static "images/bijuta.jpg" %}" alt=""></div>
    <div class="card card_large"><img src="{% static "images/durvo.jpg" %}" alt=""></div>
    <div class="card card_medium"><img src="{% static  "images/goblen.jpg" %}" alt=""></div>
    <div class="card card_small"><img src="{% static "images/kamuni.jpg" %}" alt=""></div>
    <div class="card card_large"><img src="{% static "images/kamuni.jpg" %}" alt=""></div>
    <div class="card card_medium"><img src="{% static "images/kamuni.jpg" %}" alt=""></div>
    <div class="card card_small"><img src="{% static "images/kamuni.jpg" %}" alt=""></div>
    <div class="card card_medium"><img src="{% static "images/kamuni.jpg" %}" alt=""></div>
    <div class="card card_small"><img src="{% static "images/kamuni.jpg" %}" alt=""></div>
    <div class="card card_medium"><img src="{% static "images/kamuni.jpg" %}" alt=""></div>
    <div class="card card_large"><img src="{% static "images/kamuni.jpg" %}" alt=""></div>
    <div class="card card_medium"><img src="{% static "images/kamuni.jpg" %}" alt=""></div>
    <div class="card card_small"><img src="{% static "images/kamuni.jpg" %}" alt=""></div>
    <div class="card card_medium"><img src="{% static "images/kamuni.jpg" %}" alt=""></div>
    <div class="card card_large"><img src="{% static "images/kamuni.jpg" %}" alt=""></div>
</div>


</body>
</html>