{% extends 'base.html' %}
{% load static %}
{% block page_content %}
<title>Crafted & Connected</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quando&display=swap" rel="stylesheet">
<section>
    <header class="top-header">
        <h1>
            Crafted & Connected
        </h1>
        <h2>
            Социална платформа за купуване и продаване на ръчно изработени изделия
        </h2>
    </header>
    <div class="categories">
        <button class="category-btn">
            <div class="category-background" style="background-image: url('static/images/paper.jpg');"></div>
            <span><a href="paper-search.html" style="color: white;">Изделия от хартия</a></span>
        </button>
        <button class="category-btn">
            <div class="category-background" style="background-image: url('static/images/vosuk1.jpg');"></div>
            <span>Изделия от восък</span>
        </button>
        <button class="category-btn">
            <div class="category-background" style="background-image: url('static/images/durvo.jpg');"></div>
            <span>Изделия от дърво</span>
        </button>
        <button class="category-btn">
            <div class="category-background" style="background-image: url('static/images/keramia3.jpg');"></div>
            <span>Керамични изделия</span>
        </button>
        <button class="category-btn">
            <div class="category-background" style="background-image: url('static/images/goblen.jpg');"></div>
            <span>Гоблени</span>
        </button>
    </div>
    <div class="categories">
        <button class="category-btn">
            <div class="category-background" style="background-image: url('static/images/kartina.jpg');"></div>
            <span>Картини</span>
        </button>
        <button class="category-btn">
            <div class="category-background" style="background-image: url('static/images/biju.jpg');"></div>
            <span>Бижута</span>
        </button>
        <button class="category-btn">
            <div class="category-background" style="background-image: url('static/images/pletiva.jpg');"></div>
            <span>Плетива</span>
        </button>
        <button class="category-btn">
            <div class="category-background" style="background-image: url('static/images/kamuni.jpg');"></div>
            <span>Други</span>
        </button>
    </div>
    </div>
</section>
<section>
    <header class="top-header">
        <h2>Най-нови предложения</h2>
    </header>
</section>
<div class="pin_container" id="latest-posts-container">
    
</div>
    <script>
    document.addEventListener('DOMContentLoaded', function () {
        fetch('/api/latest-posts/')
            .then(response => response.json())
            .then(posts => {
                const container = document.getElementById('latest-posts-container');
                container.innerHTML = ''; // Clear any existing content
                posts.forEach(post => {
                    const postElement = document.createElement('div');
                    postElement.classList.add('card');
                    postElement.innerHTML = `
                        <a href="${post.post_url}">
                                <img src="${post.image_url}" alt="${post.title}">
                            </a>
                            
                       
                    `;
                    container.appendChild(postElement);
                });
            })
            .catch(error => console.error('Error fetching latest posts:', error));
    });
</script>
    
{% endblock %}