{% extends 'base.html' %}

{% block title %}Notifications{% endblock %}

{% block page_content %}
    <div class="container" style="background-color: wheat">
        <h1 style="text-align: center;  font-family: 'Roboto Slab', serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal; margin-bottom: 20px;">Известия</h1>
        <ul>
            {% for notification in notifications %}
                <li style="text-align: center; font-family: 'Roboto Slab', serif; font-optical-sizing: auto; font-weight: 400; font-size: 20px;" class="{% if not notification.read %}unread{% endif %}">
                    {{ notification.content }}
                    <a href="{% url 'mark_notification_as_read' notification.id %}">Mark as read</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}