{% extends 'base.html' %}
{% load static %}
{% block page_content %}
<title>Crafted & Connected</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quando&display=swap" rel="stylesheet">
    <header class="top-header-register">
        <h1>Crafted & Connected</h1>
        <h2>
            Социална платформа за купуване и продаване на ръчно изработени изделия
        </h2>
    </header>

    <!-- container div -->
    <div class="container">
 
        <!-- upper button section to select
             the login or signup form -->
        
        <div class="btn">
            <button class="signup" style="left: 12px;"><a href="{% url 'login' %}">Вход</a></button>
            <button class="login" style="width: 152px; right: -29px;"><a href="{% url 'register' %}">Регистрация</a></button>
        </div>
 
        <!-- Form section that contains the
             login and the signup form -->
        <div class="form-section">
 
            <!-- login form -->
            
            <!-- signup form -->
            <div class="signup-box">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="clkbtn" type="submit" style="margin: 20px 130px">Регистрация</button>
                </form>
            </div>
        </div>
    </div>
    <script src="{% static 'css/register.js' %}"></script>

{% endblock %}